<div class="container column fullHeight">
<div class="container groupSpacing">
{{> card itemName='Weizen' itemProducer='Paulaner' itemPrice='2,99' itemImage='https://i.imgur.com/p7gipiV.png'}}
{{> card itemName='Pils' itemProducer='Krombacher' itemPrice='2,50' itemImage='https://www.konsum-leipzig.de/media/image/30/2e/ab/DV019_4008287054026_VORegUCjGj6H4AKB.png'}}
{{> card itemName='Dunkel' itemProducer='Duckstein' itemPrice='2,75' itemImage='http://www.alster-getraenkemarkt.de/WebRoot/Store20/Shops/62035341/49A6/9E9B/0298/73C8/9747/C0A8/28BC/4D89/flascheorg2.png'}}
{{> card itemName='Weizen' itemProducer='Erdinger' itemPrice='1,99' itemImage='https://de.erdinger.de/bundles/erdingerwebsite/assets/kristall/img/s2-produkt-sm-2020.png'}}
</div>

<div class="container groupSpacing">
{{> card}}
{{> card}}
{{> card}}
{{> card}}
</div>

</div>


