<div class="container column fullHeight">
<div class="container groupSpacing">
{{> card itemName='Weizen'}}
{{> card itemName='Pils'}}
{{> card itemName='Dunkel'}}
{{> card itemName='Weizen'}}
</div>

<div class="container groupSpacing">
{{> card}}
{{> card}}
{{> card}}
{{> card}}
</div>

<div class="container groupSpacing">
{{> card}}
{{> card}}
{{> card}}
{{> card}}
</div>

</div>


