<div class='card'>
  <figure>
    <img src='https://i.imgur.com/p7gipiV.png' alt='beer' />
  </figure>
  <section class='cardDetails'>
    <div class='minDetails'>
      <h1 class='cardHeading'>Weizen
        <span>Paulaner</span>
      </h1>
      <h1 class='cardPrice'>2.99€</h1>
    </div>

    <div class='options'>
      <div class='optionsAmmount'>
        <h1 class="cardHeading">Anzahl</h1>
        <ul>
          <li>1</li>
          <li>6</li>
          <li>12</li>
          <li>24</li>
        </ul>
      </div>
    </div>
    <a href='#' class='cardButton'>Hinzufügen</a>
  </section>
</div>