<header>
  <div class='headerTitle row'>
    <a href='#'>
      <div class='container'>
        <h1>flüssiges.de</h1>
        <img src='https://i.imgur.com/IBIIZln.png' class='imgLogo' />
      </div>
    </a>
  </div>
</header>