<nav>
  {{! dropdown navigation for small devices }}
  <button class='navToggle' aria-expanded='false' type='button'>
    Menü
  </button>
  <ul class='navWrapper'>
    <li class='navItem'><a href='/products/beer'>Bier</a></li>
    <li class='navItem'><a href='/products/wine'>Wein</a></li>
    <li class='navItem'><a href='/products/soft'>Softdrinks</a></li>
    <li class='navItem'><a href='/products/water'>Wasser</a></li>
    <li class='navItem'><a href='/contact'>| Kontakt</a></li>
  </ul>
</nav>