<nav>
  <div class='navContainer'>
    <div class='column'>
      <a href='/src/pages/layout.html'>Bier</a>
      <a class='' href='/src/pages/layout.html'>Dunkles</a><a
        class=''
        href='/src/pages/layout.html'
      >Pils</a><a class='' href='/src/pages/layout.html'>Hefe</a>
    </div>
    <div class='column'>
      <a href='/src/pages/layout.html'>Wein</a>
      <a class='' href='/src/pages/layout.html'>Rot</a><a
        class=''
        href='/src/pages/layout.html'
      >Weiß</a><a class='' href='/src/pages/layout.html'>Róse</a>
    </div>
    <div class='column'>
      <a>Alkoholfreies</a>
      <a class='' href='/src/pages/layout.html'>Saft</a><a
        class=''
        href='/src/pages/layout.html'
      >Wasser</a><a class='' href='/src/pages/layout.html'>Róse</a>
    </div>
    <div class='column'>
      <a>Kontakt</a>
    </div>
  </div>
</nav>