<nav>
  {{! dropdown navigation for small devices }}
  <button class='navToggle' aria-expanded='false' type='button'>
    Menü
  </button>
  <ul class='navWrapper'>
    <li class='navItem'><a href='/test'>Bier</a></li>
    <li class='navItem'><a href='#'>Wein</a></li>
    <li class='navItem'><a href='#'>Softdrinks</a></li>
    <li class='navItem'><a href='#'>XYZ</a></li>
    <li class='navItem'><a href='#'>Kontakt</a></li>
  </ul>
</nav>