<main>
  <div class='container row paddingTop'>
    <div class='container'>
        {{> cardArray}}
    </div>
    <div class='container flex-2 column fullHeight'>
      <div class='container flexStart'>
        <h1>Bier</h1>
      </div>
      <div class='container'>
        <img
          src='https://images.vexels.com/media/users/3/203165/isolated/lists/a410616c0ec0171ba0f5bdda916d6fb7-german-beer-stroke.png'
          class='imgBeer'
        />
      </div>
    </div>
  </div>
</main>