<div class='wrapper paddingTop'>
  <h1>Kontaktieren Sie uns!</h1>
</div>

<div class='contactContainer'>
  <form>
    <input name='name' type='text' class='contactInput' placeholder='Name' />
    <input name='email' type='text' class='contactInput' placeholder='Email' />
    <textarea
      name='text'
      class='contactInput'
      placeholder='Bemerkung'
    ></textarea>
    <input type='submit' value='SUBMIT' />
  </form>
</div>