<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <link rel='stylesheet' href='/css/styles.css' />

    <!-- Lato Light => for headings -->
    <!-- Open Sans Font => for text -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap'
      rel='stylesheet'
    />
    <title>Website Website Website</title>
  </head>
  <body>
    <noscript>If you're seeing this message, that means
      <strong>JavaScript has been disabled on your browser</strong>, please
      <strong>enable JS</strong>
      to make this app work.</noscript>

    {{! HEADER }}
    <header>
      <div class='headerTitle row'>
        <a href='#'>
          <div class='container'>
            <h1>flüssiges.de</h1>
            <img src='https://i.imgur.com/IBIIZln.png' class='imgLogo' />
          </div>
        </a>
      </div>
    </header>

    {{! NAV }}
    <nav>
      <div class='navContainer'>
        <div class='column'>
          <a href='/src/pages/layout.html'>Bier</a>
          <a class='' href='/src/pages/layout.html'>Dunkles</a><a
            class=''
            href='/src/pages/layout.html'
          >Pils</a><a class='' href='/src/pages/layout.html'>Hefe</a>
        </div>
        <div class='column'>
          <a href='/src/pages/layout.html'>Wein</a>
          <a class='' href='/src/pages/layout.html'>Rot</a><a
            class=''
            href='/src/pages/layout.html'
          >Weiß</a><a class='' href='/src/pages/layout.html'>Róse</a>
        </div>
        <div class='column'>
          <a>Alkoholfreies</a>
          <a class='' href='/src/pages/layout.html'>Saft</a><a
            class=''
            href='/src/pages/layout.html'
          >Wasser</a><a class='' href='/src/pages/layout.html'>Róse</a>
        </div>
        <div class='column'>
          <a>Kontakt</a>
        </div>
      </div>
    </nav>

    {{{body}}}

    {{! FOOTER }}
    <footer>
      <div class='container'>
        <h1>footer</h1>
      </div>
    </footer>

  </body>
</html>